name: CI

on:
    push:
        paths:
            - "**/meson.build"
            - "**/meson_options.txt"
            - "**/*.meson"
            - ".github/workflows/*.yml"
            - "**/*.cc"
            - "**/*.hh"

permissions:
    contents: read

jobs:
    clang:
        name: Build with Clang (Alpine)
        runs-on: ubuntu-latest
        container: alpine:latest

        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                  apk add --no-cache \
                    meson ninja-build pkgconfig clang lld

            - name: Compile
              run: |
                  CC=clang CC_LD=lld meson setup target
                  meson compile -C target

    gcc:
        name: Build with GCC (Alpine)
        runs-on: ubuntu-latest
        container: alpine:latest

        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                  apk add --no-cache \
                    meson ninja-build pkgconfig gcc binutils

            - name: Compile
              run: |
                  CC=gcc CC_LD=bfd meson setup target
                  meson compile -C target
